# Virtual environments
.venv
.venv*/
.venv_test/

# Python caches
__pycache__/
*.py[cod]

# Byte-compiled / optimized / DLL files
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Editor directories
.vscode/
.idea/
